.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* Content Area */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetics', sans-serif;
  }
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
}

/*HEADER SECTION*/

.header{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: inherit;
    align-items: stretch;
    height: 10vh;
}
.header .logo{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #1992D3;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 1rem;
}

.header .logo svg{
  fill: white;
  width: 3rem;
  max-width: 100%;
  height: auto;
  justify-self: center;
}

.header .logo h2{
    color: white;
    font-size: clamp(18px,2rem,3rem);
    font-weight: bold;
    overflow: hidden;
}

.navigation{
  padding: 1rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: white;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.navigation .search-bar{
    justify-content: end;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 0.5rem;
    width: 90%;
    height: fit-content;
}

.navigation .search-bar input{
    background-color: #E2E8F0;
    border-width: 0px;
    border-radius: 20px;
    height: 2rem;
}

.navigation .user-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-self: center;
}

.navigation svg{
  fill: black;
  height: 2rem;
  justify-self: end;
}

.navigation img{
  border-radius: 50px;
  border-width: 1px;
  height: 3rem;
  background-color: rgb(233, 206, 0);}

.user-name p{
  font-size: 1.5rem;
  color: black;
  font-weight:700;
}

.user-info .notification{
  justify-self: center;
}

/*SIDEBAR SECTION*/
.sidebar{
    grid-row: 2 / 4;
    display: grid;
    background-color: #1992D3;
    grid-template-rows: 1fr 1fr 3fr;
    padding-left: 1rem;
    padding-top: 2rem;
}
.sidebar svg{
  fill: white;
  height: 1.6rem;
}

.sidebar p{
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}

/*Core Subsection*/
.sidebar .core-menu{
  grid-row: 1/2;
  padding-bottom: 2rem;
}

.core-menu .option{
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-bottom: 1rem;

}
.option .icon{
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}
.option .title{
  display: grid;
  justify-content: start;
  align-items: center;
}

/*Aditional Menu Subsection*/
.sidebar .additional-menu{
  grid-row: 2/3;
}

.additional-menu .option{
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-bottom: 1rem;
}
.option .icon{
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}
.option .title{
  display: grid;
  justify-content: start;
  align-items: center;
}

/*ACTION PANEL  SECTION*/
.action-panel{
    padding: 1rem;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
    display: grid;
    background-color: white;
    z-index: 10;
    box-shadow: 00px 2px 1px 0px #c5cbd2;
}

.action-panel img{
  border-radius: 50px;
  border-width: 1px;
  height: 70px;
  background-color: rgb(233, 206, 0);}

.action-panel .profile-name{
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 0.5rem;
  width: 100%;
  justify-items: center;
}

.profile-name .profile-greeting{
  justify-self: start;
}
.profile-name p{
  font-weight: 600;
}

.action-panel .content-actions{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self:center;
}
.action-panel .content-actions button{
  margin: 0 1rem ;
  color: white;
  background-color: #1992D3;
  border: 0px;
  border-radius: 20px;
  width: 6rem;
  height: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
}

/*CONTENT SECTION*/
.content{
  grid-column: 2/3;
  background-color: #E2E8F0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 1;
  padding: 2rem 2rem 2rem 1rem;

}

/*MAIN CONTENT SECTION*/
.main-content{
  width: fit-content;
  padding-right: 1rem;
}
.main-content h3 {
  font-size: 1rem;
  padding-bottom: 1rem ;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: fit-content;
}

.projects h3{
  font-size: 1rem;
}
.projects .project{
  background-color: white;
  border-left: 0.5rem solid orange;
  border-radius: 5px;
  padding: 2rem 1rem 0rem 1rem;
  gap: 0.5rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 10rem;
  width: 22rem;
  box-shadow: 2px 2px 3px 0px rgb(197, 197, 197);
}

.project .text{
  height: fit-content;
}

.project p{
  color: rgb(101, 101, 101);
  font-size: 0.9rem;
}

.project .icons{
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 1rem;
  height: fit-content;
}

.icons svg{
  height: 1.5rem;
  fill: rgb(87, 87, 87);
  justify-self: end;
}

/*SIDE CONTENT SECTION*/
.announcements h3{
  font-size: 1rem;
  padding-bottom: 1rem;
}

.announcements .announcement-bar {
background-color: white;
padding: 1rem 2rem;
border-radius: 5px;
margin-bottom: 1rem;
box-shadow: 2px 2px 3px 0px rgb(197, 197, 197);
}

.announcements .announcement-bar h4{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.8rem;
  }


.announcements .announcement-bar .information{
  font-weight: 400;
  font-size: 0.7rem;
  color: rgb(101, 101, 101);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limits text to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; /* Adjust based on your font size */
  max-height: calc(1.5rem * 3); /* Control max height based on the number of lines */
}

.announcements .announcement-bar .announcement{
    padding: 1rem 0rem;
    border-bottom: 1px solid rgb(175, 175, 175);
  }

  .announcements .announcement-bar div:last-child {
    border-bottom: none; /* Removes the line under the last div */
  }

.announcement-bar hr{
  padding: 1rem;
}

/* Trending SIDE CONTENT SECTION*/

.trending h3 {
  padding-bottom: 1rem;
}
.recommended-accounts{
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgb(197, 197, 197);
}

.trending .account{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 1rem;
}

.account .account-address .handle{
  color: black;
  font-size: 0.9rem;
}

.account .account-address .name{
  color: rgb(91, 91, 91);
  font-size: 0.9rem;
}

.trending img{
  height: 2rem;
  background-color: rgb(227, 193, 0);
  border-radius: 50px;
  justify-self: center;
}